
<div class='left-bar-1'>
	<h1>Mis cursos</h1>
	<div class='platform-message'>Todavía no tienes cursos. En breve tendremos cursos disponibles.</div>
</div>

<div class='right-bar-1'>
	<div class='hambClose'>
		<button onclick='javascript: closeHamb();'><i class="fas fa-times"></i></button>
	</div>

	<div class='shadow-box'>
		<div id='user-box'>
			<img th:src='${img}' />
			<div class='user-box-name'>
				<span th:text="${name}"></span>
				<br/>
				<a href='#' onclick='javascript: signOut(event);'>log out</a>
			</div>
		</div>
	</div>
</div>
